#carrouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}



.slider {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-1m9128y {
  display: none;
}

.sliderImage {
  width: 100%;
}

#imagesFromCarrousel {
  width: 100%;
  height: 100%;
}

.css-1ps6pg7-MuiPaper-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.css-ktslay-MuiButtonBase-root-MuiIconButton-root {
  opacity: 10;
  background-color: #05e8b7;
}
