#carrouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}


.slider {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImage {
  width: 100vw;
  height: 80vh;


}

#imagesFromCarrousel {
  max-width: 100%;
  max-height: fit-content;

}

.css-1ps6pg7-MuiPaper-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.css-ktslay-MuiButtonBase-root-MuiIconButton-root {
  opacity: 10;
  background-color: #05e8b7;
}
