#footer {
  background-color: #000;
  display: flex;
  align-items: center;

  gap: 20px;
}

.footerText {
  color: #fafafa;
}

#footerSignature {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  max-width: 100%;
  height: auto;
}

#footerLogoPodcast {
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  height: 20vh;
  width: auto;
}

.contactform {
  margin: 0em 20%;
  padding-bottom: 1em;
}

.formcontainer {
  background-image: url(https://wallpapercrafter.com/sizes/1920x1080/273537-coffee-shop-coffe-cup-cup-and-saucer-and-table-hd.jpg);
  background-size: cover;
}

@media screen and (max-width: 600px) {
  #footerSignature {
    height: auto;
    width: 90vw;
  }

  #footerLogoPodcast {
    height: auto;
    width: 90vw;
  }

  .contactform {
    margin: 0em 12%;
    padding-bottom: 1em;
  }
}
