#portada {
  height: 80vh;
  background-image: url('https://img.freepik.com/free-photo/paper-texture-colorful-abstract-background_53876-98401.jpg?w=1800&t=st=1664921613~exp=1664922213~hmac=2f3fe6e0eb30d35c388524147812ee2269d8d0ec449b6f11a8a5e211602e65f4');
  background-repeat: no-repeat;
  background-size: cover;
}

.signatureLiane {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 300px;
  height: auto;
  position: absolute;
  bottom: 20vh;
}

#bannerPodcast {
  display: flex;
  background: #255fca;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#bannerPodcastLogo {
  width: 40vw;

  min-height: 0;
  max-height: 20vh;
}



#bannerPodcastPicture {
  height: 20vh;
  width: auto;
}

#bannerSloganPodcast {
  color: white;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

#myButton {
  /* font-family: 'Courier New', Courier, monospace;
  background: transparent; */
  color: rgb(29, 29, 29);
  border-radius: 0px;
  /* font-weight: bold;
  text-decoration: none; */
  padding: 4px;
  text-transform: none;
}

#myButton:hover {
  background: #ffe7a3;
  color: rgb(29, 29, 29);
}

#myButton:active {
  background: white;
  color: rgb(29, 29, 29);
}
