#portada {
  background-image: url(../public/fondo-pagina-vdiego.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}

#signatureCont {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 80vh;
}

.signatureLiane {
  width: auto;
  height: 40vh;
}
